%ubuntu-regular {
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
}

%ubuntu-bold {
   font-family: 'Ubuntu', sans-serif;
   font-weight: 700;
}

$main-color: #2cd3b8; 
$second-color: #393e6b; 